.hidden {
  display: none;
}
/* PERMANENT SELECTOR WHILE EDITING */

.body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

/* reset */

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

button {
  cursor: pointer;
}

address {
  font-family: "Roboto", sans-serif;
}

/* common */

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /* WE'RE NOT DUBLICATNG ALREADY EXCISTING PARAMETREES IF THEEY'RE SAME FOR DIFFERENT CSALES */
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* ----------HEADER -------------*/
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.page-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .contacts {
    font-style: normal;
    display: block;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-link {
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close .mobm-btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close:hover .mobm-btn-icon,
.mobile-menu-close:focus .mobm-btn-icon {
  fill: #fff;
}

.mobile-menu-close:hover,
.mobile-menu-close:focus {
  background-color: #404bbf;
  border: none;
}

.mobile-menu-contacts {
  font-style: normal;
  margin-bottom: 48px;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-contacts-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #434455;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus,
.mobile-menu-contacts-link:hover,
.mobile-menu-contacts-link:focus,
.mobile-menu-nav-link.current {
  color: #404bbf;
}

/* MOBILE MENU SOCIAL MEDIA */

.mobm-company-social-media-list {
  display: flex;
  gap: 40px;
}

.mobm-company-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobm-company-social-media-link:hover,
.mobm-company-social-media-link:focus {
  background-color: #404bbf;
}

.mobm-company-social-media-list .mobm-soc-media-icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*-------- HERO ------*/

.hero-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  background: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  margin: auto;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2x-min.jpg); /* Зображення для Retina */
  }
}

.hero-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 216px;
  color: #fff;
}

.hero-btn {
  margin: auto;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* --- HERO FOR TAABLETS  --- */

@media screen and (min-width: 768px) {
  .hero-title {
    font-family: "Roboto", sans-serif;
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
  }

  .hero {
    padding: 112px 0;
    max-width: 768px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-pad-min.jpg);
  }

  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-pad@2x-min.jpg); /* Зображення для Retina */
    }
  }
}

/* ---- HERO FOR PC ---- */

@media screen and (min-width: 1158px) {
  .hero-title {
    font-family: "Roboto", sans-serif;
    margin: auto;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
  }
  .hero {
    padding: 188px 0;
    max-width: 1440px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-pc-min.jpg);
  }
  @media (min-resolution: 192dpi) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-pc@2x-min.jpg); /* Зображення для Retina */
    }
  }
}

/* ---- ARGUMENTS ---- */

.arguments-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 288px;
  gap: 72px;
}

.arguments-icon,
.arg-icon {
  display: none;
}

.arguments-title {
  margin-bottom: 8px;
}

.arguments-list-item .arguments-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.arguments-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --- ARGUMENTS FOR TABLETS --- */

@media screen and (min-width: 768px) {
  .arguments-list {
    max-width: 736px;
    margin: auto;
    row-gap: 72px; /* Відступ між рядками */
    column-gap: 24px; /* Відступ між колонками */
  }

  .arguments-list-item {
    max-width: calc((736px - 24px) / 2);
    /* margin-bottom: 72px; */
  }
  .arguments-list-item .arguments-title {
    text-align: left;
  }
}

/* --- ARGUMENTS FOR PC's --- */

@media screen and (min-width: 1158px) {
  .arguments-list {
    display: flex;
    max-width: 1128px;
  }

  .arguments-icon,
  .arg-icon {
    display: flex;
  }

  .arguments-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .arguments-list-item {
    max-width: calc((1128px - 72px) / 4);
  }
  .arguments-list-item .arguments-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .arguments-descr {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/* ---- OUR TEAM ----- */

.team {
  background: #f4f4fd;
  width: 100%;
}

.team-continer {
  justify-content: center;
}

.our-team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-members-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: auto;
  max-width: 264px;
}

.team-member {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px;
  width: 264px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-descr-smedia {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-member-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-member-role {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team-member-social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-member-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-social-media-link:hover,
.team-member-social-media-link:focus {
  background-color: #404bbf;
}

.team-member-social-media-list .soc-media-icon {
  fill: #f4f4fd;
}

/* --- OUR TEAM FOR TABLETS --- */

@media screen and (min-width: 768px) {
  .team-continer {
    padding-left: 108px;
    padding-right: 108px;
  }

  .team-members-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    margin: auto;
    max-width: 552px;
  }

  .team-member {
    width: calc((100% - 24px) / 2);
  }
}

/* --- OUR TEAM FOR PC's --- */

@media screen and (min-width: 1158px) {
  .team-continer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .team-members-list {
    gap: 24px;
    max-width: 1128px;
  }

  .team-member {
    width: calc((100% - 72px) / 4);
  }
}

/* PORTFOLIO */

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-portfolio {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin: auto;
  width: 288px;
}

.portfolio-list-item {
  width: 288px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-cover-text {
  display: none;
}

.service-descr {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 288px;
}

.service-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.service-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* --- PORTFOLIO FOR TABLETS --- */

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    width: 736px;
    margin: auto;
  }

  .portfolio-list-item {
    width: 356px;
    max-width: calc((100% - 24px) / 2);
  }

  .service-descr {
    width: 356px;
  }
}

/* --- PORTFOLIO FOR PC's --- */

@media screen and (min-width: 1158px) {
  .section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: auto;
    width: 1128px;
  }

  .portfolio-list-item {
    width: 360px;
    max-width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-list-item:hover .portfolio-cover-text {
    transform: translateY(0);
  }

  .portfolio-list-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .portfolio-cover-wrap {
    position: relative;
    overflow: hidden;
  }

  .portfolio-cover-text {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-size: 16px;
    color: #f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .service-descr {
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
  }

  .service-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .service-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/* ---- FOOTER ---- */

.footer-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 320px;
}
.page-footer {
  display: flex;
  flex-direction: column;
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo .logo-part {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-logo-descr {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
  text-align: left;
}

.company-social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}
.sm-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.company-social-media-list {
  display: flex;
  gap: 16px;
}

.company-social-media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-social-media-list .soc-media-icon {
  fill: #f4f4fd;
}

.subscription {
  display: flex;
  flex-direction: column;
}

.subscr-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscr-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.subscr-form input {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-form input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-btn {
  border-radius: 4px;
  padding: 8px 24px;
  height: 40px;
  min-width: 165px;
  background-color: #4d5ae5;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 165px;
}

.subscr-icon {
  margin-left: 16px;
  fill: #fff;
}

/* FOOTER FOR TABLETS */

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    padding: 0;
    padding-left: 108px;
    padding-right: 108px;
    margin: 0;
  }

  .footer-logo-descr {
    display: flex;
    align-items: flex-start;
  }

  .company-social-media {
    display: flex;
    align-items: flex-start;
    margin-left: 24px;
  }

  .subscription {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .subscr-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .subscr-form input {
    width: 264px;
  }
}

/* ---- FOOTER FOR PC's ---- */

@media screen and (min-width: 1158px) {
  .footer-container {
    width: 1128px;
    align-items: baseline;
    padding: 0;
    margin: auto;
  }
  .page-footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;

    .footer-logo {
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #4d5ae5;
    }

    .footer-logo .logo-part {
      display: inline-block;
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.17;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #f4f4fd;
    }

    .footer-logo-descr {
      display: flex;
      flex-direction: column;
      margin: 0px 120px 0px 0px;
    }

    .footer-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #f4f4fd;
      width: 264px;
    }

    .company-social-media {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 0;
    }

    .sm-text {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

    .company-social-media-list {
      display: flex;
      gap: 16px;
    }

    .company-social-media-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4d5ae5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .company-social-media-link:hover,
    .company-social-media-link:focus {
      background-color: #31d0aa;
    }

    .company-social-media-list .soc-media-icon {
      fill: #f4f4fd;
    }

    .subscription {
      display: flex;
      flex-direction: column;
      margin-left: auto;
    }

    .subscr-text {
      margin-bottom: 16px;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #ffffff;
    }

    .subscr-form {
      display: flex;
      gap: 24px;
    }

    .subscr-form input {
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #ffffff;
      border: 1px solid #fff;
      border-radius: 4px;
      width: 264px;
      height: 40px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
      background-color: transparent;
      padding-left: 16px;
      outline: none;
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscr-form input::placeholder {
      font-size: 12px;
      line-height: 2;
      letter-spacing: 0.04em;
      color: #ffffff;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscr-form input:focus {
      border-color: #31d0aa;
      outline: none;
    }

    .subscr-form input:focus::placeholder {
      color: #31d0aa;
    }

    .subscr-btn {
      border-radius: 4px;
      padding: 8px 24px;
      height: 40px;
      min-width: 165px;
      background-color: #4d5ae5;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      text-align: center;
      color: #fff;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .subscr-btn:hover,
    .subscr-btn:focus {
      background-color: #31d0aa;
    }

    .subscr-icon {
      margin-left: 16px;
      fill: #fff;
    }
  }
}

/* ---- MODAL WINDOW ---- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 16px 24px 16px;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transfrom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ЗАМЕНЕНЫ ПАДДИНГИ, ШИРИНА WIDTH + Height */

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(1.5);
  /* by changing thies parametr we can changee the in-out-coming animation of the window */
}

.modal-window-btn {
  display: flex;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-btn .btn-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  color: #2e2f42;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.form-label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-field input::placeholder,
.form-field textarea::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  position: relative;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 34px;
  width: 256px;
  height: 40px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 16px;
  height: 120px;
  outline: transparent;
  background-color: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 256px;
}

.form-field textarea {
  padding: 8px 16px;
}
.checkbox-wrapper {
  margin-bottom: 24px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 8px;
}
/* ИЗМЕНЕНО: display:flex, align-items: center */

.checkbox-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.custom-checkbox {
  display: inline-flex;
  flex-shrink: 0; /*щоб чекбокс не гнувся*/
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .checkbox-label .custom-checkbox {
  border-radius: 2px;
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    width: 408px;
    min-height: 584px;
  }
  .form-field input {
    padding-left: 38px;
    width: 360px;
  }
  .form-input {
    width: 360px;
  }
  .checkbox-label {
    align-items: flex-start;
    justify-content: center;
  }
}

@media screen and (min-width: 1158px) {
  .modal-window-btn:hover .btn-icon,
  .modal-window-btn:focus .btn-icon {
    fill: #fff;
  }

  .modal-window-btn:hover,
  .modal-window-btn:focus {
    background-color: #404bbf;
    border: none;
  }
  .form-field input:focus {
    border-color: #4d5ae5;
    outline: none;
  }

  .input-wrapper:has(input:focus) .form-icon {
    fill: #4d5ae5;
  }

  .form-field input:focus::placeholder {
    color: #4d5ae5;
  }
  .form-field textarea:focus {
    border-color: #4d5ae5;
    outline: none;
  }
  /* ---- ТОЛЬКО ДЛЯ ПК ---- */

  .form-field textarea:focus::placeholder {
    color: #4d5ae5;
  }
  /* ---- ТОЛЬКО ДЛЯ ПК ---- */
  .form-btn:hover,
  .form-btn:focus {
    background: #404bbf;
  }
  /* ---- ТОЛЬКО ДЛЯ ПК ---- */
}
